{% extends "layout.html" %}
{% block title %} Ad {% endblock %}
{% block content %}
<style>
    td {
  padding: 5px;
}
</style>
<button onclick="history.back()" class="btn btn-outline-primary">Go Back</button>
<br>
<table cellspacing=0 cellpadding=0 border=0 width="100%">
    <tr class="bg2" style="background-color:#cae0f7">
        <td class="title" width="95%">
            <b>For sale:</b>
        <h3>{{ad[1]}}</h3>
        </td>        
        <td align=right width="100">            
            &nbsp;&nbsp;Added:&nbsp;{{ad[8].strftime("%d/%m/%Y")}}            
            <br>
            &nbsp;&nbsp;Expires:&nbsp;{{expires_date.strftime("%d/%m/%Y")}}
            <br>           
        </td>
    </tr>             
    <tr>
        <td> 
            <b>User:</b>
            <a href="/profile/{{ad[9]}}">{{ad[10]}}</a>                        
        </td>
        {% if user_id!=0%}
            <td align=right>                        
                <a href="/new_message/{{ad[10]}}/{{ad[1]}}">Send message</a>
            </td>
        {% endif %}
    </tr>
    <br>
    <tr>
        <td>
            {{ad[2]}}
        </td>
    </tr>                            
    <tr class="bg2" style="background-color:#cae0f7">
        <td colspan=2>
            <b>Category:</b>
            <b>{{ad[11]}}</b>         
            <br>
            <b>Location:</b>
            {{ad[5]}}
            <br>
            <b>Phone:</b>
            {{ad[3]}}
            <br>
            <b>Email:</b>
            {{ad[4]}}
            <br>            
        </td>
    <tr>
</table>
{% if is_image%}
<hr>    
    <a href="/image/{{ad[0]}}">                        
        <img src="/image/{{ad[0]}}" class="border" height=180 style="margin: 5 10 5 0;">
    </a>
{% endif %}
<hr>
<h4>Comments:</h4>
{% for adcomment in adcomments %}
    {{adcomment[0]}}: {{adcomment[1]}}<br>
    {{adcomment[2].strftime("%Y-%m-%d %H:%M:%S")}}
<br>
<br>
{% endfor %}
{% if user_id!=0%}
    <form action="/add_adcomment" method="POST">
        Your comment here{{logged_comment}}: <br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <textarea name="content" rows="3" cols="60"></textarea>
        <br>
        <input type="submit" value="Send">
        <input type="hidden" name="ad_id" id="ad_id" value="{{ad[0]}}">    
    
    </form>
{% endif %}
             
{% endblock %}