{% extends "layout.html" %}
{% block title %} New Message {% endblock %}
{% block content %}
<h1>Create a new message</h1>
<br>
<form action="/new_message" onsubmit="return validateForm()" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div class="col-md-3 text-end justify-content-center">
    
        <a href="/new_message"><button type="button" class="btn btn-outline-primary">New Message</button></a>
        <a href="/inbox"><button type="button" class="btn btn-outline-primary">Received</button></a>                
        <a href="/sent"><button type="button" class="btn btn-outline-primary">Sent</button></a>
      </div>
    <br>
    <div class="form-group">
        <label>Send To: </label>
        <br>        
        <input type="text" name="user_to" class="form-control form-control" required {% if form %} value="{{ form.user_to }}" {% endif %} 
        placeholder="username">
        
        <label>Subject: </label>
        <br>        
        <input type="text" name="subject" class="form-control form-control" required {% if form %} value="{{ form.subject }}" {% endif %}
        placeholder="Gibson Les Paul -09">
        
        <label>Message: </label>
        <br>               
        <textarea type="text" name="message" class="form-control form-control" rows="5" required>{% if form %}{{ form.message }}{% endif %}</textarea>
               
        <br>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>    
</form>
{% endblock %}