{% extends "layout.html" %}
{% block title %} 2 Many Gittars {% endblock %}
{% block content %}
<h1>Create a new add</h1>
<form action="/new_ad" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div class="form-group">
        <label for = "categories">Categories</label><br/>
        <select class="form-select form-select-font-size" id="cate" name="cate" required>        
        <option label="Pick category REQUIRED"></option>        
        {% for cat in categories %}
        <option value={{ cat.id }}>{{ cat.cat_name }}</option>
        {% endfor %}
        </select>

        <label>Title: </label>
        <br>        
        <input type="text" name="title" class="form-control form-control" required 
        placeholder="Gibson Les Paul -09 &#9;&#9;&#9; REQUIRED Has to be between 3 and 30 characters"
        {% if form %} value="{{ form.title }}" {% endif %}>    
        <label>Description: </label>
        <br>                        
        <textarea type="text" name="description" class="form-control form-control" rows="5" required
        placeholder="Like new conditon Les Paul. etc. &#9;&#9;&#9; REQUIRED Has to be between 3 and 500 characters">
        {% if form %} {{ form.description }} {% endif %}</textarea>        
            
        <label>Phone: </label>
        <br>        
        <input type="tel" name="phone" class="form-control form-control" {% if form %} value="{{ form.phone }}" {% endif %} 
        placeholder="555-001555 &#9;&#9;&#9; Has to be at most 20 characters">
        
        <label>Email: </label>
        <br>        
        <input type="email" name="email" class="form-control form-control" {% if form %} value="{{ form.email }}" {% endif %} 
        placeholder="info@example.com &#9;&#9;&#9; Has to be at most 30 characters">
        
        <label>Location: </label>
        <br>
        <input type="text" name="location" class="form-control form-control" {% if form %} value="{{ form.location }}" {% endif %} 
        placeholder="Amsterdam, Netherlands &#9;&#9;&#9; Has to be at most 50 characters">                    
        
        <label for = "Type">Type</label>        
        <select class="form-select form-select-font-size" id="type" name="type" required>        
        <option label="Pick type REQUIRED"></option>        
        {% for type in types %}
        <option value={{ type.id }}>{{ type.type_name }}</option>
        {% endfor %}
        </select>        
        
        <label>Price: </label>
        <br>        
        <input type="number" name="price" class="form-control form-control" required {% if form %} value="{{ form.price }}" {% endif %} 
        placeholder="1200.00 &#9;&#9;&#9; REQUIRED Has to be between 0 and 9,999,999.99">        
        
        <label>Days until expires: </label>
        <br>
        <input type="number" name="expires" class="form-control form-control" required {% if form %} value="{{ form.expires }}" {% endif %}
        placeholder="10 &#9;&#9;&#9; REQUIRED Has to be between 1 and 365">
        <br>
        <label>Add a image under 1MB. Only formats .jpg .png .gif allowed!</label>
        <br>
        <input type="file" name="file">
        <br>
        
        <br>
        <button type="submit" class="btn btn-primary">Create a New Ad</button>
    </div>
</form>
{% endblock %}