{% extends "layout.html" %}
{% block title %} 2 Many Gittars {% endblock %}
{% block content %}
<h1>Create a new add</h1>
<form action="/new_ad" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div class="form-group">
        <label for = "categories">Categories</label><br/>
        <select class="form-select form-select-font-size" id="cate" name="cate" required>        
        <option label="Pick category"></option>
        
        {% for cat in categories %}
        <option value={{ cat.id }}>{{ cat.cat_name }}</option>
        {% endfor %}
        </select>        
        <label>Title: </label>
        <br>
        {% if form %}
        <input type="text" name="title" class="form-control form-control" value="{{ form.subject }}" required>    
        <label>Description: </label>
        <br>
        {% else %}
        <input type="text" name="title" class="form-control form-control" placeholder="Gibson Les Paul -09" required>    
        <label>Description: </label>
        <br>
        {% endif %}        
        {% if form %}
        <textarea type="text" name="description" class="form-control form-control" rows="5 ">{{ form.description }}</textarea>        
        {% else %}
        <textarea type="text" name="description" class="form-control form-control" placeholder="Like new conditon Les Paul. etc." rows="5 "></textarea>
        {% endif %}
            
        <label>Phone: </label>
        <br>
        {% if form %}
        <input type="tel" name="phone" class="form-control form-control" value="{{ form.phone }}">
        {% else %}
        <input type="tel" name="phone" class="form-control form-control" placeholder="555-001">
        {% endif %}
        <label>Email: </label>
        <br>
        {% if form %}
        <input type="email" name="email" class="form-control form-control" value="{{ form.email }}">
        {% else %}
        <input type="email" name="email" class="form-control form-control" placeholder="info@example.com">
        {% endif %}
        <label>Location: </label>
        <br>
        <input type="text" name="location" class="form-control form-control" placeholder="Amsterdam, Netherlands">                    
        <label for = "Type">Type</label>        
        <select class="form-select form-select-font-size" id="type" name="type" required>        
        <option label="Pick type"></option>
        
        {% for type in types %}
        <option value={{ type.id }}>{{ type.type_name }}</option>
        {% endfor %}
        </select>        
        <label>Price: </label>
        <br>        
        <input type="number" name="price" class="form-control form-control" placeholder="1200.00" required>        
        <label>Days until expires: </label>
        <br>
        <input type="number" name="expires" class="form-control form-control" placeholder="10" required>
        <br>
        <label>Add a image under 1MB. Only formats .jpg .png .gif allowed!</label>
        <br>
        <input type="file" name="file">
        <br>
        
        <br>
        <button type="submit" class="btn btn-primary">Create a New Ad</button>
    </div>
</form>
{% endblock %}