{% extends "layout.html" %}
{% block title %} 2 Many Gittars {% endblock %}
{% block content %}
<h1>Create a new add</h1>
<form action="/new_ad" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        
        <div class="form-group mb-3">
            <label for = "categories">Categories</label><br/>
            <select class="form-select" id="cate" name="cate" required>        
            <option label="Pick category - REQUIRED">.bg-gradient-secondary</option>        
            {% for cat in categories %}
            <option value={{ cat.id }}>{{ cat.cat_name }}</option>
            {% endfor %}
            </select>            
        </div>        
        
        <div class="form-group mb-3">
            <label>Title: </label>
            <input type="text" name="title" class="form-control" placeholder="REQUIRED" required {% if form %} value="{{ form.title }}" {% endif %}>
            <div class="form-text">
                3-30 characters
            </div>
        </div>
        
        <div class="form-group mb-3">
            <label>Description: </label>                               
            <textarea type="text" name="description" class="form-control" rows="5" placeholder="REQUIRED" required>{% if form %}{{ form.description }}{% endif %}</textarea>        
            <div class="form-text">
                3-500 characters
            </div>
        </div>

        <div class="form-group mb-3">
            <label>Phone: </label>
            <br>        
            <input type="tel" name="phone" class="form-control" {% if form %} value="{{ form.phone }}" {% endif %}>
            <div class="form-text">
                Max. 20 characters
            </div>
        </div>

        <div class="form-group mb-3">
            <label>Email: </label>
            <br>        
            <input type="email" name="email" class="form-control" {% if form %} value="{{ form.email }}" {% endif %}>
            <div class="form-text">
                Max. 30 characters
            </div>
        </div>

        <div class="form-group mb-3">
            <label>Location: </label>
            <br>
            <input type="text" name="location" class="form-control" {% if form %} value="{{ form.location }}" {% endif %}>
            <div class="form-text">
                Max. 50 characters
            </div>
        </div>           
        
        <div class="form-group mb-3">
            <label for = "Type">Type</label>        
            <select class="form-select form-select-font-size" id="type" name="type" required>        
            <option label="Pick type REQUIRED"></option>        
            {% for type in types %}
            <option value={{ type.id }}>{{ type.type_name }}</option>
            {% endfor %}
            </select>
        </div>
        
        <div class="form-group mb-3">
            <label>Price: </label>
            <br>        
            <input type="number" name="price" class="form-control" required {% if form %} value="{{ form.price }}" {% endif %} placeholder="REQUIRED">
            <div class="form-text">
                0 - 9,999,999.99
            </div>
        </div>
        
        <div class="form-group mb-3">
            <label>Days until expires: </label>            
            <input type="number" name="expires" class="form-control form-control" required {% if form %} value="{{ form.expires }}" {% endif %} placeholder="REQUIRED">
            <div class="form-text">
                1-365 days
            </div>
        </div>    
        
        <div class="form-group mb-3">            
            <label>Add an image under 1MB. Only formats .jpg .png .gif allowed!</label>            
            <input type="file" name="file">
        </div>
                
        <button type="submit" class="btn btn-primary">Create a New Ad</button>
</form>
{% endblock %}