{% extends "layout.html" %}
{% block title %} Ad {% endblock %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: double #32a1ce; ;
      text-align: left;
      padding: 8px;
    }
    h1 {
        text-align: center;
    }
    
  </style>
<h1>Profile</h1> 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-5 shadow">                           

                <div class="card-body p-1-9 p-xl-5" style="text-align: center;">                    
                    <div class="mb-2" style="text-align: center;">                        
                        <span class="bg-secondary p-1 px-4 rounded text-white">User</span>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        {% if is_image%}
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="/userimage/{{profile[0][0]}}"/>
                        {% else %}
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="/static/images/generic_user.jpg"/>
                        {% endif %}
                     </div>
                    
                    <div class="mb-4" style="text-align: center;">
                        <h3 class="h4 mb-3">{{profile[0][1]}}</h3>                        
                    </div>
                    <div class="mb-4">
                        {% if session.user_id %}
                        <a href="/new_message/{{profile[0][1]}}/RE:profile">                         
                            <button class="btn btn-primary px-4 ms-3">Send message</button>
                        </a>
                        {% endif %}
                    </div>
                    <table> 
                        <th>Ads</th>                         
                        {% for prof in profile %}        
                        <tr>                              
                            <th><a href="/ad/{{prof[3]}}">{{prof[4]}}</a></th>                                                      
                        </tr>
                        {% endfor %}
                    </table>                                                         
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <div class="mb-4" style="text-align: center;">
                            {% if session.user_id == profile[0][0] %}
                                <a href="/edit_profile">                         
                                    <button class="btn btn-outline-success px-4 ms-3">Edit profile</button>
                                </a>
                            {% endif %}
                        </div>
                        <h2 class="h1 mb-0 text-primary">Description</h2>
                    </div>
                    {% if profile[0][2] %}                 
                    <p>{{profile[0][2]}}</p>
                    {% else %}
                    <p>The user has not added description</p>
                    {% endif %}
                </div>
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-4 text-primary">Comments</h2>
                    </div>
                    
                    <div class="mb-5 wow fadeIn">
                        <div class="text-start mb-1-6 wow fadeIn"></div>                    
                            {% for usercomment in usercomments %}
                            {{usercomment[0]}}: {{usercomment[1]}}<br>
                            {{usercomment[2].strftime("%Y-%m-%d %H:%M:%S")}}
                            <br>                            
                            {% endfor %}
                        </div>
                    </div>
                    {% if session.user_id %}
                    <form action="/add_usercomment" method="POST">
                        Your comment here: <br>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <textarea name="content" rows="3" cols="60"></textarea>
                        <br>
                        <input type="submit" value="Send">
                        <input type="hidden" name="profile_id" id="profile_id" value="{{profile[0][0]}}">    
                    
                    </form>
                    {% endif %}
                </div>                
            </div>
        </div>
    </div>
</div>
             
{% endblock %}