{% extends "layout.html" %}
{% block title %} 2 Many Gittars {% endblock %}
{% block content %}
<div class="col justify-content-center">
    
    <a href="/search"><button type="button" class="btn btn-outline-primary">Seacrh ad</button></a>
    <a href="/search_profile"><button type="button" class="btn btn-outline-primary">Search profile</button></a>                    
</div>
<br>
<h1>Search profile</h1>
<form action="/search_profile_result" onsubmit="return validateForm()" method="GET">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div class="form-group mb-3">
        <label>User: </label>        
        <input type="text" name="user" class="form-control form-control">                
    </div>
    <div class="form-group mb-3">
    <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
{% endblock %}