{% extends "layout.html" %}
{% block title %} Inbox {% endblock %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #cae0f7;
    }
  </style>
  <div class="col-md-3 text-end justify-content-center">
        
    <a href="/inbox"><button type="button" class="btn btn-outline-primary">Received</button></a>                
    <a href="/sent"><button type="button" class="btn btn-outline-primary">Sent</button></a>
  </div>
  <br>
  <table>
    <th>Subject</th>
    <th>Sent to</th>
    <th>Sent at</th>   
    {% for msg in msgs %}        
  <tr>    
    <td><a href="/sent/{{msg[0]}}">{{msg[3]}}</a></td>      
    <td>{{msg[7]}}</td>
    <td>{{msg[5].strftime("%Y-%m-%d, %H:%M")}}</td>
    
  </tr>
{% endfor %}
</table>
{% endblock %}
